/*profile_show_user.blade.php*/
@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.8;
    text-decoration: none;
    font-family: "源ノ角ゴシック", sans-serif;
}
.mb {
    margin-bottom: 56px;
}
.header {
    background: #9DC3C0;
    height: 56px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    dislay: flex;
}
h1 {
    display: block;
    font-size: 18px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    line-height: 56px;
    
    background: initial;
    height: initial;
    position: initial;
    width: initial;
}
.back {
    width: auto;
    height: 14px;
    position: absolute;
    top: 21px;
    left: 24px;
}
@media screen and (min-width: 768px) {
    .mb {
        margin-bottom: 0;
    }
}