/*create.blade.php*/
@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.8;
    text-decoration: none;
    font-family: "源ノ角ゴシック", sans-serif;
}
.mb {
    margin-bottom: 56px;
}
.header {
    background: #9DC3C0;
    height: 56px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    dislay: flex;
}
h1 {
    display: block;
    font-size: 18px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    line-height: 56px;
    
    background: initial;
    height: initial;
    position: initial;
    width: initial;
}
.back {
    width: auto;
    height: 14px;
    position: absolute;
    top: 21px;
    left: 24px;
}
.posts {
    padding: 16px 0;
    margin: 0 auto;
    width: calc(100% - 32px);
}
.title_box {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}
.title {
    color: #46405B;
    font-size: 14px;
}
small {
    font-size: 10px;
    padding: 2px 4px;
    background-color: #9DC3C0;
    color: #ffffff;
}
.option {
    background-color: #D9D9D9;
}
.detail {
    font-size: 16px;
    color: #46405B;;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px #46405B solid;
    margin-top: 8px;
    width: 100%;
}
.category {
    font-weight: bold;
}
.gender {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
}
.image {
    margin-top: 8px;
}
/*.upload {*/
/*    margin-top; 16px;*/
/*    width: 125px;*/
/*    height: auto;*/
/*}*/
.submit_box {
  margin: 24px auto 0;
  text-align: center;
}
.submit {
    border: none;
    outline: none;
    appearance: none;
    background: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    background-color: #9DC3C0;
    padding: 8px 16px;
    border-radius: 2px;
}
@media screen and (min-width: 768px) {
    .mb {
        margin-bottom: 0px;
    }
}